* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {

    font-family: "League Spartan", sans-serif; 
    background: #1b1e25;
    color: #fff;
    top: 0 !important; /* Setzt den oberen Rand auf 0 */


}

.goog-te-banner-frame {
    display: none !important;
}
body {
    top: 0 !important;
}
#google_translate_element select.goog-te-combo {
    background-color: #f0f0f0 !important;
    color: #ff0000 !important;
    font-size: 16px !important;
    padding: 8px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    font-family: Arial, sans-serif !important;
    width: 220px !important;
    margin-top: 20px !important;
}


.logo {

    color: #fff;

}

.navbar a {

    color: #fff;

}

.navbar a:hover {

    background: -webkit-linear-gradient(45deg, #eee, #616161);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.home {

    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;

}

.home-content {

    max-width: 600px;

}

    .skiptranslate > iframe {
        display: none !important;
    }
    /* Stellt sicher, dass das Dropdown sichtbar bleibt */
    .goog-te-gadget {
        display: block !important;
    }



.home-img img {

    max-width: 450px;

}